Repository AshishPurseth/expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format, pnpm lint:stylelint

remove css
  app/common/Card/Card.module.scss
  app/common/Form/Form.module.scss
Due: pnpm format, pnpm lint:stylelint

add css
  .github/workflows/deploy.yml
  app/styles/abstracts/_variables.scss
Due: pnpm format, pnpm lint:stylelint

remove stylint-prettier
  package.json
  pnpm-lock.yaml
Due: pnpm format

change logo path
  app/common/Header/Header.tsx
Due: pnpm lint:fix, pnpm format

adjust logo
  app/common/Header/Header.tsx
Due: pnpm lint:fix, pnpm format

fix form css
  app/common/Header/Header.module.scss
  app/common/Input/Input.module.scss
  app/components/SignUpForm/SignUpForm.tsx
  app/validations/index.ts
  app/validations/userSignUpSchema.ts
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

apply zod.
  app/common/Input/Input.tsx
  app/components/SignUpForm/SignUpForm.tsx
  app/data/createUser.server.ts
  app/routes/signup.tsx
  app/utils/index.ts
Due: pnpm lint:fix, pnpm format

fix prisma db
  app/utils/db.server.ts
  prisma/migrations/20250714080859_add/migration.sql
  prisma/migrations/migration_lock.toml
Due: pnpm lint:fix, pnpm format

revert db.server
  app/utils/db.server.ts
Due: pnpm lint:fix, pnpm format

prisma generate
  package.json
Due: pnpm format

update build script
  package.json
Due: pnpm format

update db server
  app/utils/db.server.ts
Due: pnpm lint:fix, pnpm format

add session.server
  app/data/createUser.server.ts
  app/utils/session.server.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

login page added
  app/components/LoginForm/LoginForm.tsx
  app/components/index.ts
  app/routes/login.tsx
  app/utils/session.server.ts
Due: pnpm lint:fix, pnpm format

add authentication
  app/common/Form/Form.tsx
  app/common/Header/Header.tsx
  app/common/Layout/Layout.tsx
  app/components/LoginForm/LoginForm.tsx
  app/components/SignUpForm/SignUpForm.tsx
  app/root.tsx
  app/routes/login.tsx
  app/routes/logout.tsx
  app/validations/index.ts
  app/validations/loginSchema.ts
Due: pnpm lint:fix, pnpm format

implement logout
  app/common/Form/Form.tsx
  app/common/Header/Header.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/login.tsx
  app/routes/logout.tsx
  app/utils/session.server.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250716043310_add_roles/migration.sql
  prisma/schema.prisma
  vite.config.ts
Due: pnpm lint:fix, pnpm format

add _header in public folder
  public/_header
Due: none

update prisma script
  package.json
Due: pnpm format

add dashboard authentication
  .gitattributes
  app/routes/_index.tsx
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

add rate limitter
  .gitattributes
  .vscode/settings.json
  app/entry.server.tsx
  app/utils/ratelimit.server.ts
  app/utils/session.server.ts
Due: pnpm lint:fix, pnpm format

fix rate limmiter in production
  app/common/Header/Header.tsx
  app/entry.server.tsx
Due: pnpm lint:fix, pnpm format

remove _header
  public/_header
Due: none

add zod validation for email
  app/styles/base/_global.scss
  app/validations/loginSchema.ts
  app/validations/userSignUpSchema.ts
  vite.config.ts
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

remove color.adjust from global scss
  app/styles/base/_global.scss
Due: pnpm format, pnpm lint:stylelint

responsive header
  app/common/Header/Header.module.scss
  app/common/Header/Header.module.scss.d.ts
  app/common/Header/Header.tsx
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

apply transition
  app/common/Header/Header.module.scss
  app/common/Header/Header.module.scss.d.ts
  app/common/Header/Header.tsx
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

create new signup
  app/common/Card/Card.module.scss
  app/common/Form/Form.module.scss
  app/common/Header/Header.module.scss
  app/components/SignUpForm/SignUpForm.module.scss
  app/components/SignUpForm/SignUpForm.module.scss.d.ts
  app/components/SignUpForm/SignUpForm.tsx
  app/data/createFamily.server.ts
  app/data/createUser.server.ts
  app/routes/signup.tsx
  app/validations/userSignUpSchema.ts
  package.json
  prisma/migrations/20250721155843_init/migration.sql
  prisma/schema.prisma
  vite.config.ts
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

update package script
  package.json
Due: pnpm format

fix: reinit prisma migration
  prisma/migrations/20250721155843_init/migration.sql
Due: none

fix script
  package.json
Due: pnpm format

setup dashboard
  app/common/Dropdown/Dropdown.module.scss
  app/common/Dropdown/Dropdown.module.scss.d.ts
  app/common/Dropdown/Dropdown.tsx
  app/common/index.ts
  app/components/ExpenseDashboard/ExpenseDashboard.module.scss
  app/components/ExpenseDashboard/ExpenseDashboard.module.scss.d.ts
  app/components/ExpenseDashboard/ExpenseDashboard.tsx
  app/components/index.ts
  app/constants/index.ts
  app/routes/expense._index.tsx
  app/routes/expense.bill.tsx
  app/routes/expense.tsx
  prisma/migrations/20250728150928_init/migration.sql
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

setup bill form
  app/common/Input/Input.tsx
  app/components/Bill/Bill.module.scss
  app/components/Bill/Bill.tsx
  app/components/index.ts
  app/constants/index.ts
  app/routes/expense.bill.tsx
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

created a bill form
  .github/workflows/deploy.yml
  app/common/Card/Card.module.scss
  app/common/Card/Card.tsx
  app/common/Dropdown/Dropdown.tsx
  app/common/Header/Header.tsx
  app/common/Layout/Layout.module.scss
  app/components/Bill/Bill.module.scss
  app/components/Bill/Bill.module.scss.d.ts
  app/components/Bill/Bill.tsx
  app/components/LoginForm/LoginForm.module.scss
  app/components/LoginForm/LoginForm.module.scss.d.ts
  app/components/LoginForm/LoginForm.tsx
  app/components/SignUpForm/SignUpForm.module.scss
  app/components/SignUpForm/SignUpForm.module.scss.d.ts
  app/components/SignUpForm/SignUpForm.tsx
  app/routes/expense._index.tsx
  app/routes/expense.bill.tsx
  app/routes/expense.tsx
  app/utils/session.server.ts
  app/validations/billSchema.ts
  app/validations/index.ts
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

add table
  app/common/Form/Form.tsx
  app/components/Bill/Bill.module.scss
  app/components/Bill/Bill.module.scss.d.ts
  app/components/Bill/Bill.tsx
  app/components/ExpenseDashboard/ExpenseDashboard.module.scss
  app/constants/index.ts
  app/data/createBill.server.ts
  app/routes/expense.bill.tsx
  app/routes/login.tsx
  app/utils/session.server.ts
  app/validations/billSchema.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250716043310_add_roles/migration.sql
  prisma/migrations/20250728150928_init/migration.sql
  prisma/migrations/20250802120450_init/migration.sql
  prisma/migrations/20250802120931_init/migration.sql
  prisma/schema.prisma
Due: pnpm lint:fix, pnpm format, pnpm lint:stylelint

update package migrate:deploy
  package.json
Due: pnpm format

migrate:deploy
  package.json
Due: pnpm format

Path conditions:
  pnpm lint:fix: any of: **/*.{ts,tsx,js,cjs,jsx}
  pnpm format: ((any of: **/*.{ts,tsx,js,cjs,jsx}) or (any of: **/*.scss)) or (any of: **/*.{json,yml,yaml,html,md})
  pnpm lint:stylelint: any of: **/*.scss
